<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
      <title>result</title>
        <link rel="stylesheet" href="./assets/stylesheets/application.scss">
  </head>
  <body>
    <h1>法律自由検索システム</h1>
      <div class="result">
        <% if @rtd.any? %>
          <% @rtd.each do |record|  %>
            <p><%= record.inner_text %></p>
          <% end %>
        <% else %>
        <div class="col s12 m12 l6 offset-l3">
          <div class="error">
            <p>検索結果がありません。</p> 
            <p>・Keywordではない名詞が使われてないか確認してください。</p>
            <p>・短すぎる/長すぎる文である可能性があります。</p>
          </div>        
        </div>  
        <% end %>
        <div class="buttons_text-center">
          <%= link_to '戻る', '/' %>
        </div>
      </div>
  </body>
  <footer>
    <small>&copy; 2018 HA.</small>
  </footer>
</html>